@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --primaryColor: #304886;
  --secondaryColor: #FFCC00;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid white;
  }
}
